{% extends "base.html.twig" %}

{% block body %}
    <h1>Affichage liste actus</h1>
<table>
    <tr>
        <th>date publication</th>
        <th>archi</th>
        <th>voir</th>
    </tr>

        {% for elem in lastActues %}
            <tr>
           <td> {{ elem.datepub }} </td>
            <td>  {{ elem.architecte }}</td>
                <td><a href="actu?id={{ elem.id }}">voir ({{ elem.id }})</a></td>
</tr>
        {% endfor %}

</table>

{% endblock %}
