{% extends "base.html.twig" %}

{% block body %}
    <div id="outdiv">
        <iframe src="http://www.doubletrade.com" scrolling="no" width="100%" height="800px" id="iniframe">
        </iframe>
    </div>
{% endblock %}