{% extends "base.html.twig" %}
{% block title %}Commander (3/3) | L'architecture{% endblock %}
{% block body %}

    <p>Merci, votre commande a bien été prise en compte !</p>

    <a href="/">Retour à l'accueil</a>

{% endblock %}