{% extends "base.html.twig" %}
{% block title %}Commander (1/3) | L'architecture{% endblock %}
{% block body %}

<div class="titre-section clearfix">
    <hr>
    <h2 class="h2">commander</h2>
</div>

    <div class="titre-section clearfix">
        <hr>
        <h2 class="h2">commander</h2>
    </div>
    <div class="contenu-commande clearfix">
        <section class="steps clearfix">
            <div class="first active">
                <h3>1ère étape</h3>
                <p>Choix revue</p>
            </div>
            <div class="second">
                <h3>2e étape</h3>
                <p>Formulaire</p>
            </div>
            <div class="third">
                <h3>3e étape</h3>
                <p>Validation</p>
            </div>
        </section>
        <section class="panier">
            <figure>
                <img src="img-content/groupe.png" alt="revue">
            </figure>
            <h2>Revue N°285 - 2017</h2>
            <label for="quantite">Quantité :</label>
            <select id="quantite" name="quantite">
                <optgroup label="Quantité">
                    <option value="1">1</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </optgroup>
            </select>
            <div class="price">
                Prix : 220€ <br>(hors frais de port)
            </div>
        </section>
        <section class="panier">
            <figure>
                <img src="img-content/groupe2.png" alt="revue">
            </figure>
            <h2>Revue N°285 - 2017</h2>
            <label for="quantite">Quantité :</label>
            <select id="quantite" name="quantite">
                <optgroup label="Quantité">
                    <option value="1">1</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </optgroup>
            </select>
            <div class="price">
                Prix : 155€ <br>(hors frais de port)
            </div>
        </section>
        <span class="tab"><a href="">Voir tarifications pour frais de ports ></a></span>
        <a href="">
            <button class="button-commander" style="vertical-align:middle"><span>Commander</span></button>
        </a>
    </div>

{% endblock %}