{% extends "base.html.twig" %}

{% block body %}
<h2>Mentions légales</h2>

<h3>RAISON SOCIALE</h3>

<p>SOFRE&COM Société Française d'édition et de communication</p>


<h3>SIÈGE SOCIAL</h3>

<p>SOFRE&COM <br>
9/11 rue Jacquard - 93315 Le Pré Saint Gervais cedex - France<br>
Tél : +33 (1) 49 91 93 99<br>
Fax : +33 (1) 49 91 94 20</p>


    <h3>DIRECTEUR</h3>

<p>Phillipe HADIDA</p>


<h2>CRÉDITS</h2>

<p>Conception et contenus : SOFRE&COM</p>


<h2>DONNÉES PERSONNELLES</h2>

<p>Les informations recueillies par les formulaires présents sur le site font l’objet d’un traitement informatique nécessaires aux bon déroulement des commandes et des abonnements.</p>

<p>Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent.</p>

<p>Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.</p>


<h2>CONTENU DU SITE</h2>

<p>Les informations fournies sur ce site sont à titre informatif. SOFRE&COM ne saurait garantir l'exactitude, la complétude, l'actualité des informations diffusées sur le site.</p>

<p>SOFRE&COM met tout en œuvre pour offrir aux utilisateurs des informations et/ou outils disponibles et vérifiés mais ne saurait être tenu pour responsable des erreurs ou omissions, d'une absence de disponibilité des informations et des services. Malgré tous les soins apportés pour la constitution et la mise à jour de ce site, des erreurs, inexactitudes ou omissions peuvent subsister ainsi que des problèmes de connexion au site ou d’interruption de connexion.</p>

<p>En conséquence, l'utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.</p>



<h2>PROPRIÉTÉ INTELLECTUELLE ET DROITS VOISINS</h2>

<p>Le site www.larchitecture.com et l'ensemble des éléments qui le constituent (notamment les dessins, modèles, photos, illustrations, images, bandes sonores, chartes graphiques, textes, logos, marques…) sont la propriété exclusive de SOFRE&COM.</p>

<p>En conséquence, il vous est interdit d’utiliser, de représenter ou de reproduire intégralement ou partiellement, par quelque procédé que ce soit, de distribuer, de publier, de transmettre, de modifier ou de vendre tout ou partie du contenu du site ou de créer des œuvres dérivées à partir de celui-ci.</p>

<p>La marque SOFRE&COM et les logos liés à SOFRE&COM, déposés ou non, affichés sur le site www.larchitecture.com ainsi que le nom de domaine www.larchitecture.com sont et demeureront la propriété exclusive de SOFRE&COM.</p>

<p>Toute reproduction, distribution, transmission, modification ou utilisation de ces éléments sans accord expresse et préalable de SOFRE&COM, pour quelque motif que ce soit, est interdite.</p>

<p>SOFRE&COM décline toute responsabilité en cas d’utilisation ou d’exploitation illégale des éléments (notamment dessins, photos, modèles, illustrations, images, bandes sonores, chartes graphiques, textes, logos, marques et autres signes distinctifs) contenus sur le site.</p>


<h2>LIENS</h2>

<p>Ce site peut vous proposer des liens avec d'autres sites exploités par des parties autres que SOFRE&COM.</p>
SOFRE&COM ne peut être tenu pour responsable des contenus des sites auxquels il est renvoyé et sur lesquels SOFRE&COM n’a aucun contrôle.</p>

<p>SOFRE&COM n’assumera, en aucun cas, les dommages directs ou indirects résultant de ce contenu. Tous les liens avec d’autres sites sont fournis à titre de simple commodité aux utilisateurs de ce site Internet.</p>
{% endblock %}