/*-------------------body-----------------------*/

body{
	font-family: $lato;
}

a {
	display: block;
	text-decoration: none;
	color: #000;
}

main{
	width: 100%;
}

.dernieres-actu {
	width: 100%;
	
	.titre-section{
		width: 100%;
		position: relative;
		
		.h2 {
			width: 30%;
			margin: 0 auto;
			font-size: 3.2rem;
			text-align: center;
			font-weight: 700;
			background-color: #fff; 
		}

		@media screen and (max-width: 1100px) {
			.h2 {
				width: 35%;
			}
		}

		@media screen and (max-width: 960px) {
			.h2 {
				font-size: 2.4rem;
			}
		}

		@media screen and (max-width: 680px) {
			.h2 {
				width: 50%;
			}
		}

		@media screen and (max-width: 480px) {
			.h2 {
				width: 70%;
				font-size: 2rem;
			}
		}

		hr {
			position: absolute;
			width: 95%;
			margin: 0 2.5%;
			background: #000;
			top: 20px;
			z-index: -1;
			height: 3px;
		}

		@media screen and (max-width: 960px) {
			hr {
				top: 15px;
			}
		}

		@media screen and (max-width: 480px) {
			hr {
				top: 13px;
			}
		}

		@media screen and (max-width: 480px) {
			hr {
				top: 12px;
			}
		}
	}

	.revue-actu {
		width: 20%;
		margin: 4% 2.5% 1%;
		float: left;
		position: relative;
		
		.ref-numero {
			width: 100%;
			height: 100%;
			position: absolute;
			color: rgba(255,255,255,0);
			transition: 0.4s;
			transform: rotateX(40deg);

			&:hover {
				color: #fff;
				background: rgba(0,0,0,0.97);
				transform: rotateX(0deg); 
			}

			@media screen and (max-width: 480px) {
				&:hover {
					background: rgba(0,0,0,0.9); 
				}
			}
			
			p {
				text-align: center;

				&:first-of-type {
					margin-top: 50%;
					font-size: 2.4rem;
					font-weight: 700;
				}

				&:last-of-type {
					margin-top: 3%;
					font-weight: 300;
					font-size: 2.4rem;
				}

				@media screen and (max-width: 480px) {
					&:first-of-type {
						position: absolute;
						bottom: 50%;
						left: 38%;
						font-weight: 400;
						font-size: 2.2rem;
					}
				}

				@media screen and (max-width: 480px) {
					&:last-of-type {
						position: absolute;
						bottom: 15%;
						left: 30%;
						font-size: 2rem;
					}
				}
			}
		}
		
		@media screen and (max-width: 480px) {
			.ref-numero {
				height: 20%;
				bottom: 0;
				color: #fff;
				background: rgba(0,0,0,0.9);
				transform: rotateX(0deg); 
			}
		}

		.img-dernieres-actu {
			width: 100%;
		}
	}

	@media screen and (max-width: 480px) {
		.revue-actu {
			width: 75%;
			margin: 8% auto;
			text-align: center;
			float: none;
		}
	}
}

.actualites {
	width: 100%;

	.titre-section{
		width: 100%;
		position: relative;
		
		.h2 {
			width: 30%;
			margin: 0 auto;
			font-size: 3.2rem;
			text-align: center;
			font-weight: 700;
			background-color: #fff; 
		}

		@media screen and (max-width: 1100px) {
			.h2 {
				width: 35%;
			}
		}

		@media screen and (max-width: 960px) {
			.h2 {
				font-size: 2.4rem;
			}
		}

		@media screen and (max-width: 680px) {
			.h2 {
				width: 50%;
			}
		}

		@media screen and (max-width: 480px) {
			.h2 {
				width: 70%;
				font-size: 2rem;
			}
		}

		hr {
			position: absolute;
			width: 95%;
			margin: 0 2.5%;
			background: #000;
			top: 20px;
			z-index: -1;
			height: 3px;
		}

		@media screen and (max-width: 960px) {
			hr {
				top: 15px;
			}
		}

		@media screen and (max-width: 480px) {
			hr {
				top: 13px;
			}
		}

		@media screen and (max-width: 480px) {
			hr {
				top: 12px;
			}
		}
	}

	.actu-part {
		width: 27.3333%;
		margin: 0 3%;
		float: left;
		text-align: center;
		font-family: $merri; 

		.img-actu-part {
			width: 100%;
		}

		.h3 {
			font-size: 2rem;
			margin: 2% 0 3%; 
		}
		
		p {
			font-size: 1.7rem;
			line-height: 23px;
		}
	}

	@media screen and (max-width: 480px) {
		.actu-part {
			width: 100%;
			margin: 8% auto;
			text-align: center;
			float: none;
		}
	}
}

.footer {
	width: 100%;
	height: 10%;
	margin-top: 5%;
	border: solid;
	background-color: #000;
	
	ul {
		display: table;
		margin: 0 auto;
		
		a {
			padding: 20px;
			display: table-cell;
			font-weight: 300;
			font-size: 1.7rem;
			color: #fff;

		}

		@media screen and (max-width: 480px) {
			a {
				display: inline;
				padding: 10px ;
				font-size: 1.4rem;
				text-align: center;
				font-weight: 400;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.footer {
		height: 20%;
	}
}

