.actu {
	figure {
		width: 40%;
		float:left;
		img {
			width: 100%;
		}
	}

	@media screen and (max-width: 480px) {
		figure {
			width: 100%;
			float:none;
		}
	}

	article {
		width: 55%;
		float:left;
		h3 {
			font-size: 1.8rem;
			margin-bottom: 4%;
			font-weight: 700;
		}
		h4 {
			font-size: 1.6rem;
			margin-bottom: 7%;
		}
		p {
			font-family: $merri;
			line-height: 16px;
			font-size: 1.4rem;
			font-weight: 300;
			letter-spacing: 1px;

			@media screen and (max-width: 480px) {
				&:last-of-type {
					width: 90%;
					text-align: left;
				}
			}
		}
		a{
			color: $blue;
			text-decoration: underline;
		}
	}

	@media screen and (max-width: 480px) {
		article {
			width: 90%;
			margin: 0 auto;
		}
	}
}

@media screen and (max-width: 480px) {
	.actu {
		width: 100%;
		float: none;
	}
}