.actu-title {
	margin:25px 0;
	text-align: center;

	h2 {
		font-size: 2.2rem;
		font-weight: 700;
	}

	@media screen and (max-width: 480px) {
		h2 {
			font-size: 1.9rem;
			margin: 2% 0;
		}
	}

	h3 {
		margin:1%;
		font-size: 2rem;
		span{
			font-style: italic;
		}
	}

	@media screen and (max-width: 480px) {
		h3 {
			font-size: 1.7rem;
			margin: 4% 0;
		}
	}
}

.text-actu {
	margin-top: 3%;
	figure {
		width: 25%;
		float: left;
		img {
			display: block;
			width: 100%;
		}
	}

	@media screen and (max-width: 480px) {
		figure {
			width: 100%;
			float: none;
		}
	}
	article{
		margin-left:5%;
		width: 70%;
		float: left;
		p {
			font-size: 1.8rem;
			text-align: justify;
		}
	}
	@media screen and (max-width: 480px) {
		p {
			font-size: 1.6rem;
			text-align: left;
		}
	}

	.line1 {
		width: 100%;
		margin-top: 2%;
		float: left;
		font-weight: 300;
		line-height: 22px;
		text-align: justify;
	}

	.line2 {
		margin-top: 1%;
		line-height: 20px;
	}

	@media screen and (max-width: 480px) {
		.line2 {
			display: none;
		}
	}

	@media only screen and (max-width: 768px) {
		.text-actu {
			float: none;
		}

		.text-actu figure {
			width: 90%;
			float: none;
		}

		.line1 {
			float: none;
		}

			@media only screen and (max-width: 468px) {
			.text-actu {
				float: none;
			}

			.text-actu figure {
				width: 100%;
				float: none;
			}
		}
	}
}

.prestataire {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-bottom: 3%;
	display: flex;
	justify-content: space-around;
	background-color: #45BBC8;
	font-size: 1.8rem;
	line-height: 20px;
	color: #fff;
	float: left;
		
	.equipe {
		width: 30%;
	}

	@media only screen and (max-width: 768px) {
		.equipe {
			width: 90%;
		}
	}

	.entreprise {
		width: 30%;
	}

	@media only screen and (max-width: 768px) {
		.entreprise {
			width: 90%;
		}
	}
}

@media only screen and (max-width: 768px) {
	.prestataire {
		width: 100%;
		display: block;
		line-height: 22px;
		text-align: center;
	}
}

.photos-firstline, .photos-secondline {
	display: flex;
	width: 100%;
	float: left;
	justify-content: space-around;
	margin-bottom: 5%;
	
	@media only screen and (max-width: 768px) {
		img {
			width: 70%;
			display: block;
			margin-bottom: 3%;
		}
	}
}
@media only screen and (max-width: 768px) {
	.photos-firstline, .photos-secondline {
		width: 100%;
		display: block;
		float: none;
	}
}
	