html {
  font-size: 62.5%;
}

body{
  font-family: $lato;
}


main{
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}


/* -- TITRE DES SECTIONS -- */

.titre-section{
  width: 100%;
  margin: 1% 0 2%;
  position: relative;
  text-align: center;

  .h2 {
    display: inline;
    margin: 0 auto;
    padding: 0 2%;
    font-size: 2.6rem;
    font-weight: 700;
    background-color: #fff;
    text-transform: uppercase;
  }

  hr {
    width: 95%;
    margin: 0 2.5%;
    position: absolute;
    background: #000;
    top: 15px;
    z-index: -1;
  }

  @media screen and (max-width: 960px) {
    hr {
      top: 15px;
    }
  }

  @media screen and (max-width: 480px) {
    hr {
      top: 13px;
    }
  }

  @media screen and (max-width: 480px) {
    hr {
      top: 12px;
    }
  }
}