footer {
	width: 100%;
	margin-top: 5%;
	padding:25px 0;
	background: #000;
	clear: both;

	a{
		color: #fff;
	}
	ul {
		display: table;
		margin: 1% auto 0;
		
		li {
			display: table-cell;
			
			a {
				padding: 15px;
				font-weight: 300;
				font-size: 1.7rem;
				color: #fff ;

			}

			@media screen and (max-width: 768px) {
				a {
					display: block;
					padding: 7px 0;
					margin: 0 auto; 
					text-align: center;
				}
			}
			a:hover{
				color: $blue;
			}
		}

		@media screen and (max-width: 768px) {
			li {
				display: block;
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 768px) {
		ul {
			display: initial;
			margin: 1% 0 0;
		}
	}
	
	figure {
		width: 20%;
		margin: 2% auto;

		img {
			width: 100%;
		}
	}

	@media screen and (max-width: 480px) {
		figure {
			width: 40%;
			margin: 2% auto;
		}
	}

	p {
		width:75%;
		margin: auto;
		margin-top: 2%;
		color: #fff;
		text-align:center;
		font-size:1.3rem;
		line-height: 18px;
	}
}