

.steps {
	width: 100%;
	display: flex;
	float: left;
	justify-content: space-around;
	margin-top: 5%;
	margin-bottom: 5%;

	div {
		text-align: center;

		h3 {
			font-family: $lato;
			float: left;
			font-size: 2rem;
		}

		@media screen and (max-width: 480px) {
			h3 {
				font-size: 1.8rem;
				font-weight: 300;
			}
		}

		p {
			font-family: $lato;
			font-size: 1.4rem;
			font-weight: 300;
		}
		
		@media screen and (max-width: 480px) {
			p {
				font-size: 1.2rem;
				font-weight: 300;
			}
		}
	}
	
	.active {
		color: $blue;
	}
}

@media screen and (max-width: 480px) {
	.steps {
		
	}
}

