.who {
	padding-top: 2%;
	width: 100%;
	float: left;
	font-family: $lato;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 2%;

	figure {
		width: 40%;
		float: left;
		
		img {
			width: 100%;
		}
	}

	@media screen and (max-width: 480px) {
		figure {
			width: 100%;
			margin-top: 2%; 
			float: none;
		}
	}

	article {
		width: 50%;
		
		h2 {
			text-align: center;
			font-size: 2rem;
			font-weight: 700;
			margin-bottom: 6%;
		}

		@media screen and (max-width: 480px) {
			h2 {
				text-align: center;
				font-size: 1.8rem;
			}
		}

		p {
			text-align: justify ;
			font-size: 1.8rem;
			line-height: 22px;
		
		}

		@media screen and (max-width: 480px) {
			p {
				text-align: left;
				font-size: 1.6rem;
				line-height: 20px;
			}
		}
	}
	
	@media screen and (max-width: 480px) {
		article {
			width: 100%;
			margin: 1% 0 8%; 
		}
	}
}

@media screen and (max-width: 480px) {
	.who {
		width: 100%;
		margin-top: 5%; 
		padding-top: 2%;
		float: none;
		font-family: $lato;
		display: initial;
		justify-content: space-around;
		align-items: center;
		padding-bottom: 2%;
	}
}