/* ---------- PAGE QUI SOMMES NOUS -------- */
.who {
  padding-top: 2%;
  width: 100%;
  font-family: "Lato", "helvetica", sans-serif;
  padding-bottom: 2%;

  figure {
    width: 40%;
    float:left;
    /* figure dans img */
    img {
      width: 100%;
      display: block;
    }
  }
  article {
    width: 60%;
    float:left;
    h3 {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 6%;
    }
    p {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 24px;
      padding: 5px 25px 0 25px;
    }
  }
}