* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

html {
	font-size: 62.5%;
}