.tri {
	form{
      float: left;
      width:33%;
		label {
			display: block;
			text-align: center;
			margin-bottom: 5%;
		}
		select {
			width: 200px;
		}
	}
}

.list-revues {
	div {
      width: 30%;
      margin:1%;
      float: left;
      height:375px;
      overflow: hidden;
      a.element{
		figure {
			width: 45%;
			margin-bottom: 4%;
			img{
				width: 100%;
			}
		}
		h3 {
			font-size: 100%;
			font-family: $merri;
			margin-bottom: 6%;
		}
      }
      a.commander {
        padding: 1%;
        background-color: #35AEBD;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-radius: 8px;
      }
	}
}