.back {
  color: #35AEBD;
  font-size: 1.6rem;
  margin-left: 5%;
}

.apercu {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 4%;

  figure {
    margin: 0 auto;
    width: 26%;
    margin-top: 5%;
    margin-bottom: 2%;

    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 960px) {
    figure {
      width: 65%;
    }
  }

  h3 {
    font-size: 1.8rem;
    font-family: $lato;
    margin-bottom: 3%;
  }

  a {
    padding: 1%;
    background-color: #35AEBD;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 1.3rem;
  }

  @media screen and (max-width: 960px) {
    a {
      display: block;
      width: 40%;
      padding: 10px 0;
      height: 30px;
      margin: 0 30%;
    }
  }
}

@media screen and (max-width: 960px) {
  .apercu {
    margin-bottom: 10%;
  }
}

.partenaires {
  width: 100%;
  margin: 3% 0 0;
  display: flex;
  float: left;
  justify-content: space-around;

  figure {
    width: 30%;

    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 960px) {
    figure {
      width: 70%;
      margin: 5% auto;
    }
  }

  .hallou {
    width: 10%;
  }

  @media screen and (max-width: 960px) {
    .hallou {
      width: 25%;
      margin: 5% auto;
    }
  }
}

@media screen and (max-width: 960px) {
  .partenaires {
    display: initial;
    float: none;
  }
}