.revue{
  .back {
    color: #35AEBD;
    font-size: 1.6rem;
    margin-left: 5%;
  }

  .apercu {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 4%;
    h3{
      font-size:1.5rem;
      margin:2%;
    }

    figure {
      margin: 5% auto 2% auto;
      width: 26%;

      img {
        width: 100%;
      }
    }

    @media screen and (max-width: 480px) {
      figure {
        width: 75%;
      }
    }

    h2 {
      font-size: 1.8rem;
      font-family: $lato;
      margin-bottom: 3%;
    }

    a {
      padding: 1%;
      background-color: #35AEBD;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      border-radius: 8px;
      font-size: 1.3rem;
    }

    @media screen and (max-width: 480px) {
      a {
        display: block;
        width: 40%;
        padding: 10px 0;
        height: 30px;
        margin: 0 30%;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .apercu {
      margin-bottom: 10%;

    }
  }
}
