/*-----------------RESET----------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----------------All---------------*/
*,
*:before,
*:after {
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", "helvetica", sans-serif; }

main {
  width: 100%; }

a {
  text-decoration: none;
  color: #000; }

.bg-cover {
  width: 100%; }

@media screen and (max-width: 480px) {
  .bg-cover {
    display: none; } }
.bg-cover-mobile {
  display: none; }

@media screen and (max-width: 480px) {
  .bg-cover-mobile {
    display: initial;
    width: 100%; } }
header {
  width: 100%;
  position: absolute;
  top: 0; }
  header .nav-up {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    background-color: #000; }
    header .nav-up img {
      width: 16%;
      margin: 10px 2% 5px;
      padding-top: 10px;
      float: left; }
    @media screen and (max-width: 768px) {
      header .nav-up img {
        width: 30%; } }
    header .nav-up .burger {
      display: none; }
    @media screen and (max-width: 768px) {
      header .nav-up .burger {
        width: 25px;
        display: initial;
        position: absolute;
        right: 5%;
        top: 5%;
        z-index: 999;
        cursor: pointer; } }
    @media screen and (max-width: 480px) {
      header .nav-up .burger {
        width: 20px;
        right: 5%;
        top: 3%; } }
    header .nav-up a {
      color: #fff; }
      header .nav-up a:last-of-type {
        position: absolute;
        top: 15%;
        font-size: 1.5rem;
        right: 2.5%; }
      @media screen and (max-width: 1100px) {
        header .nav-up a:last-of-type {
          top: 18%; } }
      @media screen and (max-width: 768px) {
        header .nav-up a:last-of-type {
          display: none; } }
    @media screen and (max-width: 768px) {
      header .nav-up a {
        display: block;
        padding: 0;
        margin: 10px 0; } }
    header .nav-up .abonnez {
      width: 170px;
      height: 32px;
      margin-top: 15px;
      margin-right: 2%;
      padding-top: 7px;
      font-size: 1.7rem;
      text-align: center;
      border-radius: 10px;
      background-color: #34B8C9;
      float: right; }
    @media screen and (max-width: 768px) {
      header .nav-up .abonnez {
        width: 25%;
        position: absolute;
        top: 270%;
        left: -38%;
        z-index: 999;
        transition: 0.6s; } }
    @media screen and (max-width: 480px) {
      header .nav-up .abonnez {
        width: 35%; } }
  header .nav {
    margin-top: 10px;
    margin-left: 2%;
    font-weight: 300;
    z-index: 99; }
    header .nav ul {
      width: 100%; }
      header .nav ul li {
        display: table-cell; }
        header .nav ul li a {
          padding: 0 30px;
          font-size: 1.6rem;
          color: #fff; }
        @media screen and (max-width: 960px) {
          header .nav ul li a {
            padding: 0 15px; } }
        @media screen and (max-width: 768px) {
          header .nav ul li a {
            display: block;
            padding: 5px;
            margin: 10px 0; } }
        @media screen and (max-width: 480px) {
          header .nav ul li a {
            display: initial;
            margin: 0 0;
            padding: 0 0;
            text-align: center;
            font-weight: 300; } }
      @media screen and (max-width: 768px) {
        header .nav ul li {
          display: block;
          margin: 10% 0 0 5%;
          padding: 0 0;
          text-align: left;
          font-weight: 300; } }
  @media screen and (max-width: 768px) {
    header .nav {
      width: 50%;
      height: 100vh;
      position: absolute;
      left: -50%;
      margin-top: 0;
      margin-left: 0;
      background: #000;
      overflow: hidden;
      transition: 0.6s; } }
  header .slogan {
    width: 100%;
    margin-top: 13%; }
    header .slogan p {
      color: #fff;
      font-size: 3.4rem;
      letter-spacing: 3px; }
      header .slogan p strong {
        color: #34B8C9; }
      header .slogan p:first-of-type {
        margin-left: 25%; }
      @media screen and (max-width: 768px) {
        header .slogan p:first-of-type {
          margin-left: 5%; } }
      header .slogan p:last-of-type {
        margin-top: 15px;
        margin-left: 55%; }
      @media screen and (max-width: 960px) {
        header .slogan p:last-of-type {
          margin-top: 5px;
          margin-left: 55%; } }
      @media screen and (max-width: 768px) {
        header .slogan p:last-of-type {
          margin-top: 5px;
          margin-left: 45%; } }
    @media screen and (max-width: 1100px) {
      header .slogan p {
        font-size: 2.8rem;
        letter-spacing: 3px; } }
    @media screen and (max-width: 960px) {
      header .slogan p {
        font-size: 2.4rem;
        letter-spacing: 3px; } }
    @media screen and (max-width: 768px) {
      header .slogan p {
        font-size: 2rem;
        letter-spacing: 3px; } }
    @media screen and (max-width: 480px) {
      header .slogan p {
        display: none; } }

.titre-section {
  width: 100%;
  margin: 1% 0 2%;
  position: relative;
  text-align: center; }
  .titre-section .h2 {
    display: inline;
    margin: 0 auto;
    padding: 0 2%;
    font-size: 2.6rem;
    font-weight: 700;
    background-color: #fff;
    text-transform: uppercase; }
  .titre-section hr {
    width: 95%;
    margin: 0 2.5%;
    position: absolute;
    background: #000;
    top: 15px;
    z-index: -1; }
  @media screen and (max-width: 960px) {
    .titre-section hr {
      top: 15px; } }
  @media screen and (max-width: 480px) {
    .titre-section hr {
      top: 13px; } }
  @media screen and (max-width: 480px) {
    .titre-section hr {
      top: 12px; } }

.steps {
  width: 100%;
  display: flex;
  float: left;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 5%; }
  .steps div {
    text-align: center; }
    .steps div h3 {
      font-family: "Lato", "helvetica", sans-serif;
      float: left;
      font-size: 2rem; }
    @media screen and (max-width: 480px) {
      .steps div h3 {
        font-size: 1.8rem;
        font-weight: 300; } }
    .steps div p {
      font-family: "Lato", "helvetica", sans-serif;
      margin-top: 5px;
      font-size: 1.6rem;
      font-weight: 300; }
    @media screen and (max-width: 480px) {
      .steps div p {
        font-size: 1.2rem;
        font-weight: 300; } }
  .steps .active {
    color: #34B8C9; }

.dernieres-actu {
  width: 100%; }
  .dernieres-actu .revue-actu {
    width: 20%;
    margin: 2% 2.5% 3%;
    float: left;
    position: relative; }
    .dernieres-actu .revue-actu .ref-numero {
      width: 100%;
      height: 100%;
      position: absolute;
      color: rgba(255, 255, 255, 0);
      transition: 0.4s;
      transform: rotateX(40deg); }
      .dernieres-actu .revue-actu .ref-numero:hover {
        color: #fff;
        background: rgba(0, 0, 0, 0.97);
        transform: rotateX(0deg); }
      @media screen and (max-width: 480px) {
        .dernieres-actu .revue-actu .ref-numero:hover {
          background: rgba(0, 0, 0, 0.9); } }
      .dernieres-actu .revue-actu .ref-numero p {
        text-align: center; }
        .dernieres-actu .revue-actu .ref-numero p:first-of-type {
          margin-top: 50%;
          font-size: 2.4rem;
          font-weight: 700; }
        .dernieres-actu .revue-actu .ref-numero p:last-of-type {
          margin-top: 3%;
          font-weight: 300;
          font-size: 2.4rem; }
        @media screen and (max-width: 480px) {
          .dernieres-actu .revue-actu .ref-numero p:first-of-type {
            position: absolute;
            bottom: 50%;
            left: 38%;
            font-weight: 400;
            font-size: 2.2rem; } }
        @media screen and (max-width: 480px) {
          .dernieres-actu .revue-actu .ref-numero p:last-of-type {
            position: absolute;
            bottom: 15%;
            left: 30%;
            font-size: 2rem; } }
    @media screen and (max-width: 480px) {
      .dernieres-actu .revue-actu .ref-numero {
        height: 20%;
        bottom: 0;
        color: #fff;
        background: rgba(0, 0, 0, 0.9);
        transform: rotateX(0deg); } }
    .dernieres-actu .revue-actu .img-dernieres-actu {
      width: 100%; }
  @media screen and (max-width: 480px) {
    .dernieres-actu .revue-actu {
      width: 75%;
      margin: 8% auto;
      text-align: center;
      float: none; } }

.actualites {
  width: 100%; }
  .actualites .actu-part {
    width: 27.3333%;
    margin: 3% 3% 0;
    float: left;
    text-align: center;
    font-family: "Merriweather", "times", serif; }
    .actualites .actu-part .img-actu-part {
      width: 100%; }
    .actualites .actu-part .h3 {
      font-size: 2rem;
      margin: 2% 0 3%; }
    .actualites .actu-part p {
      font-size: 1.7rem;
      line-height: 23px; }
  @media screen and (max-width: 480px) {
    .actualites .actu-part {
      width: 100%;
      margin: 8% auto;
      text-align: center;
      float: none; } }

.tri {
  width: 100%;
  height: 150px;
  margin-top: 1%;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  background: #000;
  float: left; }
  .tri label {
    display: block;
    text-align: center;
    margin: 2% 0 8%;
    font-size: 1.8rem;
    color: #fff; }
  @media screen and (max-width: 768px) {
    .tri label {
      margin: 2% 0 2%; } }
  .tri select {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border-radius: 8px; }
  @media screen and (max-width: 768px) {
    .tri select {
      display: block;
      margin: 0 auto 7%;
      text-align: center;
      width: 200px;
      height: 30px;
      padding-left: 10px;
      border-radius: 8px; } }

@media screen and (max-width: 768px) {
  .tri {
    width: 100%;
    height: initial;
    margin-top: 1%;
    padding: 30px 0;
    display: block;
    float: none; } }
.revues {
  width: 100%;
  float: left;
  text-align: center; }
  .revues div {
    width: 50%;
    margin-top: 7%;
    float: left; }
    .revues div figure {
      margin: 0 auto;
      width: 45%;
      margin-bottom: 4%; }
      .revues div figure img {
        width: 100%; }
    .revues div h3 {
      font-size: 1.6rem;
      font-family: "Merriweather", "times", serif;
      margin-bottom: 6%; }
    @media screen and (max-width: 768px) {
      .revues div h3 {
        font-size: 1.5rem; } }
    .revues div a {
      padding: 1.5%;
      background-color: #35AEBD;
      text-transform: uppercase;
      border-radius: 8px;
      font-size: 1.4rem;
      color: #fff; }
  @media screen and (max-width: 768px) {
    .revues div {
      width: 100%;
      margin: 7% 0;
      float: none; } }

.more {
  clear: both;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 5%;
  margin-bottom: 5%; }
  .more a {
    width: 200px;
    height: 30px;
    margin: 0 auto 5%;
    padding-top: 5px;
    border-radius: 10px;
    display: block;
    background: #000;
    color: #fff;
    text-transform: uppercase; }

.back {
  color: #35AEBD;
  font-size: 1.6rem;
  margin-left: 5%; }

.apercu {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 4%; }
  .apercu figure {
    margin: 0 auto;
    width: 26%;
    margin-top: 5%;
    margin-bottom: 2%; }
    .apercu figure img {
      width: 100%; }
  @media screen and (max-width: 480px) {
    .apercu figure {
      width: 65%; } }
  .apercu h2 {
    font-size: 1.8rem;
    font-family: "Lato", "helvetica", sans-serif;
    margin-bottom: 3%; }
  .apercu a {
    padding: 1%;
    background-color: #35AEBD;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 1.3rem; }
  @media screen and (max-width: 480px) {
    .apercu a {
      display: block;
      width: 40%;
      padding: 10px 0;
      height: 30px;
      margin: 0 30%; } }

@media screen and (max-width: 480px) {
  .apercu {
    margin-bottom: 10%; } }
.partenaires {
  width: 100%;
  margin: 3% 0 0;
  display: flex;
  float: left;
  justify-content: space-around; }
  .partenaires figure {
    width: 30%; }
    .partenaires figure img {
      width: 100%; }
  @media screen and (max-width: 480px) {
    .partenaires figure {
      width: 70%;
      margin: 5% auto; } }
  .partenaires .hallou {
    width: 10%; }
  @media screen and (max-width: 480px) {
    .partenaires .hallou {
      width: 25%;
      margin: 5% auto; } }

@media screen and (max-width: 480px) {
  .partenaires {
    display: initial;
    float: none; } }
.actu {
  width: 90%;
  display: flex;
  float: left;
  justify-content: space-around;
  font-family: "Lato", "helvetica", sans-serif;
  margin: 0 auto;
  margin: 2% 0 3% 5%;
  align-items: center; }
  .actu figure {
    width: 40%; }
    .actu figure img {
      width: 100%; }
  @media screen and (max-width: 480px) {
    .actu figure {
      width: 100%; } }
  .actu article {
    text-align: center;
    width: 55%; }
    .actu article h2 {
      font-size: 1.8rem;
      margin-bottom: 4%;
      font-weight: 700; }
    .actu article h3 {
      font-size: 1.7rem;
      margin-bottom: 7%; }
    .actu article p {
      font-family: "Merriweather", "times", serif;
      line-height: 16px;
      font-size: 1.5rem;
      line-height: 19px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: justify; }
      @media screen and (max-width: 480px) {
        .actu article p:last-of-type {
          width: 90%; } }
      .actu article p a {
        color: #35AEBD;
        text-transform: underline; }
  @media screen and (max-width: 480px) {
    .actu article {
      width: 90%;
      margin: 0 auto; } }

@media screen and (max-width: 480px) {
  .actu {
    width: 90%;
    display: initial;
    float: none; } }
.actu-title {
  width: 100%;
  text-align: center; }
  .actu-title h2 {
    font-size: 2.2rem;
    font-weight: 700; }
  @media screen and (max-width: 480px) {
    .actu-title h2 {
      font-size: 1.9rem;
      margin: 2% 0; } }
  .actu-title h3 {
    font-size: 2rem; }
  @media screen and (max-width: 480px) {
    .actu-title h3 {
      font-size: 1.7rem;
      margin: 4% 0; } }

.text-actu {
  float: left;
  margin-top: 3%; }
  .text-actu figure {
    width: 25%;
    float: left; }
    .text-actu figure img {
      width: 100%; }
  @media screen and (max-width: 480px) {
    .text-actu figure {
      width: 100%;
      float: none; } }
  .text-actu p {
    font-size: 1.8rem;
    text-align: justify; }
  @media screen and (max-width: 480px) {
    .text-actu p {
      font-size: 1.6rem;
      text-align: left; } }
  .text-actu .line1 {
    width: 100%;
    margin-top: 2%;
    float: left;
    font-weight: 300;
    line-height: 22px;
    text-align: justify; }
  .text-actu .line2 {
    margin-top: 1%;
    line-height: 20px; }
  @media screen and (max-width: 480px) {
    .text-actu .line2 {
      display: none; } }
  @media only screen and (max-width: 768px) {
    .text-actu .text-actu {
      float: none; }
    .text-actu .text-actu figure {
      width: 90%;
      float: none; }
    .text-actu .line1 {
      float: none; } }
@media only screen and (max-width: 768px) and (max-width: 468px) {
  .text-actu .text-actu {
    float: none; }
  .text-actu .text-actu figure {
    width: 100%;
    float: none; } }

.prestataire {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-around;
  background-color: #45BBC8;
  font-size: 1.8rem;
  line-height: 20px;
  color: #fff;
  float: left; }
  .prestataire .equipe {
    width: 30%; }
  @media only screen and (max-width: 768px) {
    .prestataire .equipe {
      width: 90%; } }
  .prestataire .entreprise {
    width: 30%; }
  @media only screen and (max-width: 768px) {
    .prestataire .entreprise {
      width: 90%; } }

@media only screen and (max-width: 768px) {
  .prestataire {
    width: 100%;
    display: block;
    line-height: 22px;
    text-align: center; } }
.photos-firstline, .photos-secondline {
  display: flex;
  width: 100%;
  float: left;
  justify-content: space-around;
  margin-bottom: 5%; }
  @media only screen and (max-width: 768px) {
    .photos-firstline img, .photos-secondline img {
      width: 70%;
      display: block;
      margin: 0 auto;
      margin-bottom: 3%; } }

@media only screen and (max-width: 768px) {
  .photos-firstline, .photos-secondline {
    width: 100%;
    display: block;
    float: none; } }
.container {
  width: 40%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 1.6rem; }
  .container h3 {
    font-size: 1.7rem;
    margin-bottom: 5%; }
  .container input[type=text], .container select, .container textarea {
    width: 100%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 5%;
    resize: vertical; }
  .container input[type=submit] {
    background-color: #34B8C9;
    color: white;
    padding: 2% 5%;
    border: none;
    border-radius: 4px;
    cursor: pointer; }
    .container input[type=submit]:hover {
      background-color: #4ec0d1; }
  .container .text-contact {
    width: 100%;
    text-align: center; }
  .container .info-contact {
    text-align: center;
    font-size: 1.1rem;
    width: 56%;
    margin: 0 auto;
    margin-top: 5%; }

@media only screen and (max-width: 768px) {
  .container {
    width: 60%; } }
@media only screen and (max-width: 480px) {
  .container {
    width: 90%; } }
.form {
  width: 60%;
  padding: 4%;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22); }
  .form label {
    font-size: 1.5rem; }
    .form label .asterix {
      float: right;
      color: #35AEBD; }
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"], .form textarea, .form select {
    outline: none;
    display: block;
    width: 100%;
    padding: 2%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 3%;
    font-size: 1.5rem;
    height: 12%; }
  @media screen and (max-width: 480px) {
    .form input[type="text"],
    .form input[type="email"],
    .form input[type="tel"], .form textarea, .form select {
      font-size: 1.5rem; } }
  .form p {
    color: #35AEBD;
    font-size: 1.8rem; }

@media screen and (max-width: 480px) {
  .form {
    width: 90%;
    margin: 8% auto;
    font-size: 1.4rem; } }
.button-commander-form {
  width: 150px;
  display: inline-block;
  border-radius: 4px;
  background-color: #34B8C9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.6rem;
  padding: 1%;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
  margin: 2% 20%; }
  .button-commander-form span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    .button-commander-form span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s; }
  .button-commander-form:hover span {
    padding-right: 25px; }
  .button-commander-form:hover span:after {
    opacity: 1;
    right: 0; }

@media screen and (max-width: 480px) {
  .button-commander-form {
    font-size: 1.6rem;
    width: 50%;
    height: 40px;
    float: none;
    margin: 2% 0 0 25%; } }
.panier {
  width: 60%;
  float: left;
  margin: 1% 0 0 20%;
  border-bottom: 1px solid black; }
  .panier figure {
    float: left;
    width: 20%;
    margin-bottom: 2%; }
    .panier figure img {
      width: 100%; }
  @media screen and (max-width: 768px) {
    .panier figure {
      float: none;
      margin: 0 auto 2%;
      width: 60%; } }
  .panier h2 {
    float: left;
    font-family: "Merriweather", "times", serif;
    font-size: 2rem;
    margin: 2% 0 0 18%;
    width: 57%; }
  @media screen and (max-width: 768px) {
    .panier h2 {
      float: none;
      font-size: 1.4rem;
      text-align: center; } }
  .panier label {
    font-size: 1.6rem;
    font-family: "Merriweather", "times", serif;
    margin-left: 25%; }
  @media screen and (max-width: 768px) {
    .panier label {
      font-size: 1.3rem;
      margin-left: 0; } }
  .panier select {
    margin: 7%; }
  @media screen and (max-width: 768px) {
    .panier select {
      margin: 5%;
      width: 15%; } }
  .panier .price {
    width: 180px;
    padding: 1%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1.6rem;
    font-family: "Lato", "helvetica", sans-serif;
    float: right;
    border: 1px solid #34B8C9; }
  @media screen and (max-width: 768px) {
    .panier .price {
      text-align: center;
      font-size: 1.3rem;
      width: 45%;
      margin-top: 3%; } }

@media screen and (max-width: 768px) {
  .panier {
    width: 80%;
    margin: 8% 0 0 10%;
    padding-bottom: 3%; } }
.tab {
  width: 100%;
  margin-top: 5%;
  padding-left: 20%;
  float: left;
  font-family: "Lato", "helvetica", sans-serif;
  font-size: 1.8rem;
  text-decoration: underline; }
  .tab a {
    color: #000; }

@media screen and (max-width: 768px) {
  .tab {
    width: 100%;
    float: left;
    padding-left: 10%;
    font-size: 1.4rem;
    margin: 7% 0 0 0; } }
/**********BOUTTON**********/
.button-commander {
  display: inline-block;
  border-radius: 4px;
  background-color: #34B8C9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.6rem;
  padding: 1%;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
  margin: 0 20% 0 0; }
  .button-commander span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    .button-commander span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s; }
  .button-commander:hover span {
    padding-right: 25px; }
  .button-commander:hover span:after {
    opacity: 1;
    right: 0; }

@media screen and (max-width: 768px) {
  .button-commander {
    font-size: 1.6rem;
    width: 50%;
    height: 40px;
    float: none;
    margin: 10% 25%; } }
.who {
  padding-top: 2%;
  width: 100%;
  float: left;
  font-family: "Lato", "helvetica", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2%; }
  .who figure {
    width: 40%;
    float: left; }
    .who figure img {
      width: 100%; }
  @media screen and (max-width: 480px) {
    .who figure {
      width: 100%;
      margin-top: 2%;
      float: none; } }
  .who article {
    width: 50%; }
    .who article h2 {
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 6%; }
    @media screen and (max-width: 480px) {
      .who article h2 {
        text-align: center;
        font-size: 1.8rem; } }
    .who article p {
      text-align: justify;
      font-size: 1.8rem;
      line-height: 22px; }
    @media screen and (max-width: 480px) {
      .who article p {
        text-align: left;
        font-size: 1.6rem;
        line-height: 20px; } }
  @media screen and (max-width: 480px) {
    .who article {
      width: 100%;
      margin: 1% 0 8%; } }

@media screen and (max-width: 480px) {
  .who {
    width: 100%;
    margin-top: 5%;
    padding-top: 2%;
    float: none;
    font-family: "Lato", "helvetica", sans-serif;
    display: initial;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2%; } }
footer {
  width: 100%;
  margin-top: 5%;
  border: solid;
  background: #000;
  color: #fff; }
  footer a {
    color: #fff; }
  footer ul {
    display: table;
    margin: 1% auto 0; }
    footer ul li {
      display: table-cell; }
      footer ul li a {
        padding: 15px;
        font-weight: 300;
        font-size: 1.7rem;
        color: #fff; }
      @media screen and (max-width: 768px) {
        footer ul li a {
          display: block;
          padding: 7px 0;
          margin: 0 auto;
          text-align: center; } }
      footer ul li a:hover {
        color: #34B8C9; }
    @media screen and (max-width: 768px) {
      footer ul li {
        display: block;
        width: 100%; } }
  @media screen and (max-width: 768px) {
    footer ul {
      display: initial;
      margin: 1% 0 0; } }
  footer figure {
    width: 20%;
    margin: 2% auto; }
    footer figure img {
      width: 100%; }
  @media screen and (max-width: 480px) {
    footer figure {
      width: 40%;
      margin: 2% auto; } }
  footer p {
    width: 75%;
    margin: 0 auto;
    color: #fff;
    text-align: center; }

/*# sourceMappingURL=screen.css.map */
