/*-----------------RESET----------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----------------All---------------*/
*,
*:before,
*:after {
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", "helvetica", sans-serif; }

main {
  width: 100%; }

a {
  text-decoration: none;
  color: #000; }

/* -- TITRE DES SECTIONS -- */
.titre-section {
  width: 100%;
  margin: 1% 0 2%;
  position: relative;
  text-align: center; }
  .titre-section .h2 {
    display: inline;
    margin: 0 auto;
    padding: 0 2%;
    font-size: 2.6rem;
    font-weight: 700;
    background-color: #fff;
    text-transform: uppercase; }
  .titre-section hr {
    width: 95%;
    margin: 0 2.5%;
    position: absolute;
    background: #000;
    top: 15px;
    z-index: -1; }
  @media screen and (max-width: 960px) {
    .titre-section hr {
      top: 15px; } }
  @media screen and (max-width: 480px) {
    .titre-section hr {
      top: 13px; } }
  @media screen and (max-width: 480px) {
    .titre-section hr {
      top: 12px; } }

.bg-cover {
  width: 100%; }

@media screen and (max-width: 768px) {
  .bg-cover {
    display: none; } }
header {
  width: 100%;
  position: absolute;
  top: 0; }
  header .nav-up {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    background-color: #000; }
    header .nav-up img {
      width: 16%;
      margin: 10px 2% 5px;
      padding-top: 10px;
      float: left; }
    @media screen and (max-width: 768px) {
      header .nav-up img {
        width: 30%; } }
    header .nav-up a {
      color: #fff; }
      header .nav-up a:first-of-type {
        width: 170px;
        height: 32px;
        margin-top: 15px;
        margin-right: 2%;
        padding-top: 7px;
        font-size: 1.7rem;
        text-align: center;
        border-radius: 10px;
        background-color: #34B8C9;
        float: right; }
      @media screen and (max-width: 768px) {
        header .nav-up a:first-of-type {
          position: absolute;
          top: 52%;
          right: 2%; } }
      @media screen and (max-width: 480px) {
        header .nav-up a:first-of-type {
          position: absolute;
          top: 26%;
          left: 25%; } }
      header .nav-up a:last-of-type {
        position: absolute;
        top: 16%;
        font-size: 1.7rem;
        right: 2.5%; }
      @media screen and (max-width: 768px) {
        header .nav-up a:last-of-type {
          top: 68%;
          font-weight: 300;
          font-size: 1.7rem; } }
      @media screen and (max-width: 480px) {
        header .nav-up a:last-of-type {
          display: none; } }
    @media screen and (max-width: 768px) {
      header .nav-up a {
        display: block;
        padding: 0;
        margin: 10px 0; } }
  header .nav {
    margin-top: 10px;
    margin-left: 2%;
    font-weight: 300; }
    header .nav ul {
      width: 100%; }
      header .nav ul li {
        display: table-cell; }
        header .nav ul li a {
          padding: 0 30px;
          font-size: 1.6rem;
          color: #fff; }
        header .nav ul li a:hover {
          color: #34B8C9; }
        @media screen and (max-width: 768px) {
          header .nav ul li a {
            display: block;
            padding: 5px;
            margin: 10px 0; } }
        @media screen and (max-width: 480px) {
          header .nav ul li a {
            display: initial;
            margin: 0 0;
            padding: 0 0;
            text-align: center;
            font-weight: 300; } }
  @media screen and (max-width: 480px) {
    header .nav {
      height: 180px;
      margin-top: 0;
      margin-left: 0;
      background: #000;
      overflow: hidden;
      trznsition: 0.5s; } }
  header .slogan {
    width: 100%;
    margin-top: 13%; }
    header .slogan p {
      color: #fff;
      font-size: 3.4rem;
      letter-spacing: 3px; }
      header .slogan p strong {
        color: #34B8C9; }
      header .slogan p:first-of-type {
        margin-left: 25%; }
      @media screen and (max-width: 768px) {
        header .slogan p:first-of-type {
          margin-left: 15%; } }
      header .slogan p:last-of-type {
        margin-top: 15px;
        margin-left: 55%; }
      @media screen and (max-width: 960px) {
        header .slogan p:last-of-type {
          margin-top: 5px;
          margin-left: 55%; } }
    @media screen and (max-width: 1100px) {
      header .slogan p {
        font-size: 2.8rem;
        letter-spacing: 3px; } }
    @media screen and (max-width: 960px) {
      header .slogan p {
        font-size: 2.4rem;
        letter-spacing: 3px; } }
    @media screen and (max-width: 768px) {
      header .slogan p {
        display: none; } }

@media screen and (max-width: 768px) {
  header {
    position: initial; } }
/* ----- HOMEPAGE --------- */
.dernieres-actu {
  margin: 25px 0 100px 0; }
  .dernieres-actu .revue-actu {
    width: 20%;
    margin: 4% 2.5% 1%;
    float: left;
    position: relative; }
    .dernieres-actu .revue-actu .ref-numero {
      width: 100%;
      height: 100%;
      position: absolute;
      color: rgba(255, 255, 255, 0);
      transition: 0.4s;
      transform: rotateX(40deg); }
      .dernieres-actu .revue-actu .ref-numero:hover {
        color: #fff;
        background: rgba(0, 0, 0, 0.97);
        transform: rotateX(0deg); }
      @media screen and (max-width: 480px) {
        .dernieres-actu .revue-actu .ref-numero:hover {
          background: rgba(0, 0, 0, 0.9); } }
      .dernieres-actu .revue-actu .ref-numero p {
        text-align: center; }
        .dernieres-actu .revue-actu .ref-numero p:first-of-type {
          margin-top: 50%;
          font-size: 2.4rem;
          font-weight: 700; }
        .dernieres-actu .revue-actu .ref-numero p:last-of-type {
          margin-top: 3%;
          font-weight: 300;
          font-size: 2.4rem; }
        @media screen and (max-width: 480px) {
          .dernieres-actu .revue-actu .ref-numero p:first-of-type {
            position: absolute;
            bottom: 50%;
            left: 38%;
            font-weight: 400;
            font-size: 2.2rem; } }
        @media screen and (max-width: 480px) {
          .dernieres-actu .revue-actu .ref-numero p:last-of-type {
            position: absolute;
            bottom: 15%;
            left: 30%;
            font-size: 2rem; } }
    @media screen and (max-width: 480px) {
      .dernieres-actu .revue-actu .ref-numero {
        height: 20%;
        bottom: 0;
        color: #fff;
        background: rgba(0, 0, 0, 0.9);
        transform: rotateX(0deg); } }
    .dernieres-actu .revue-actu .img-dernieres-actu {
      width: 100%; }
  @media screen and (max-width: 480px) {
    .dernieres-actu .revue-actu {
      width: 75%;
      margin: 8% auto;
      text-align: center;
      float: none; } }

.actualites .actu-part {
  width: 27.3333%;
  margin: 50px 3%;
  float: left;
  text-align: center;
  font-family: "Merriweather", "times", serif; }
  .actualites .actu-part a .img-actu-part {
    width: 100%;
    max-height: 200px;
    overflow: hidden; }
  .actualites .actu-part a .h3 {
    font-size: 2rem;
    margin: 2% 0 3%; }
  .actualites .actu-part a p {
    font-size: 1.7rem;
    line-height: 23px; }
@media screen and (max-width: 480px) {
  .actualites .actu-part {
    width: 100%;
    margin: 8% auto;
    text-align: center;
    float: none; } }

.actu {
  width: 90%;
  display: flex;
  float: left;
  justify-content: space-around;
  font-family: "Lato", "helvetica", sans-serif;
  margin: 0 auto;
  margin: 2% 0 3% 5%;
  align-items: center; }
  .actu figure {
    width: 40%; }
    .actu figure img {
      width: 100%; }
  @media screen and (max-width: 480px) {
    .actu figure {
      width: 100%; } }
  .actu article {
    text-align: center;
    width: 55%; }
    .actu article h3 {
      font-size: 1.8rem;
      margin-bottom: 4%;
      font-weight: 700; }
    .actu article h4 {
      font-size: 1.7rem;
      margin-bottom: 7%; }
    .actu article p {
      font-family: "Merriweather", "times", serif;
      line-height: 16px;
      font-size: 1.5rem;
      line-height: 19px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: justify; }
      @media screen and (max-width: 480px) {
        .actu article p:last-of-type {
          width: 90%; } }
      .actu article p a {
        color: #35AEBD;
        text-transform: underline; }
  @media screen and (max-width: 480px) {
    .actu article {
      width: 90%;
      margin: 0 auto; } }

@media screen and (max-width: 480px) {
  .actu {
    width: 90%;
    display: initial;
    float: none; } }
/* ---------- PAGE QUI SOMMES NOUS -------- */
.who {
  padding-top: 2%;
  width: 100%;
  float: left;
  font-family: "Lato", "helvetica", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2%; }
  .who figure {
    width: 40%;
    float: left; }
    .who figure img {
      width: 100%; }
  .who article {
    width: 50%; }
    .who article h3 {
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 6%; }
    .who article p {
      text-align: justify;
      font-size: 1.8rem;
      line-height: 22px; }

.contact-wrapper {
  margin-top: 75px; }
  .contact-wrapper .contact {
    width: 50%;
    float: left; }
    .contact-wrapper .contact p {
      font-size: 1.5rem; }
    .contact-wrapper .contact .container {
      margin: 0 auto;
      width: 40%;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      font-family: "Lato", "helvetica", sans-serif;
      clear: both; }
      .contact-wrapper .contact .container input[type=text], .contact-wrapper .contact .container select, .contact-wrapper .contact .container textarea {
        width: 100%;
        padding: 2%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 2%;
        margin-bottom: 5%;
        resize: vertical; }
      .contact-wrapper .contact .container input[type=submit] {
        background-color: #34B8C9;
        color: white;
        padding: 2% 5%;
        border: none;
        border-radius: 4px;
        cursor: pointer; }
      .contact-wrapper .contact .container input[type=submit]:hover {
        background-color: #4ec0d1; }
      @media only screen and (max-width: 768px) {
        .contact-wrapper .contact .container .container {
          width: 60%; } }
      @media only screen and (max-width: 400px) {
        .contact-wrapper .contact .container .container {
          width: 90%; } }

.tri {
  width: 100%;
  height: 150px;
  margin-top: 1%;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  background: #000;
  float: left; }
  .tri label {
    display: block;
    text-align: center;
    margin: 2% 0 8%;
    font-size: 1.8rem;
    color: #fff; }
  .tri select {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border-radius: 8px; }

.revues {
  width: 100%;
  float: left;
  text-align: center; }
  .revues div {
    width: 50%;
    margin-top: 7%;
    float: left; }
    .revues div figure {
      margin: 0 auto;
      width: 45%;
      margin-bottom: 4%; }
      .revues div figure img {
        width: 100%; }
    .revues div h3 {
      font-size: 1.6rem;
      font-family: "Merriweather", "times", serif;
      margin-bottom: 6%; }
    .revues div a {
      padding: 1.5%;
      background-color: #35AEBD;
      text-transform: uppercase;
      border-radius: 8px;
      font-size: 1.4rem;
      color: #fff; }

.more {
  clear: both;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 10%;
  margin-bottom: 5%; }
  .more a {
    text-decoration: underline;
    color: #000;
    text-transform: uppercase; }

/* ----- FOOTER ------- */
footer {
  color: #fff;
  margin-top: 5%;
  padding: 15px;
  background-color: #000; }
  footer ul {
    width: 580px;
    margin: 25px auto; }
    footer ul li {
      display: inline-block;
      border-right: 1px solid #fff; }
      footer ul li a {
        padding: 20px;
        font-weight: 300;
        font-size: 1.7rem;
        color: #fff; }
      footer ul li a:hover {
        color: #34B8C9; }
      @media screen and (max-width: 480px) {
        footer ul li a {
          display: inline;
          padding: 10px;
          font-size: 1.4rem;
          text-align: center;
          font-weight: 400; } }
    footer ul li:last-child {
      border-right: none; }
  footer p {
    width: 75%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 14px;
    margin: 5px auto; }
    footer p a {
      color: #fff; }

.back {
  color: #35AEBD;
  font-size: 1.6rem;
  margin-left: 5%; }

.apercu {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 4%; }
  .apercu figure {
    margin: 0 auto;
    width: 26%;
    margin-top: 5%;
    margin-bottom: 2%; }
    .apercu figure img {
      width: 100%; }
  @media screen and (max-width: 960px) {
    .apercu figure {
      width: 65%; } }
  .apercu h3 {
    font-size: 1.8rem;
    font-family: "Lato", "helvetica", sans-serif;
    margin-bottom: 3%; }
  .apercu a {
    padding: 1%;
    background-color: #35AEBD;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 1.3rem; }
  @media screen and (max-width: 960px) {
    .apercu a {
      display: block;
      width: 40%;
      padding: 10px 0;
      height: 30px;
      margin: 0 30%; } }

@media screen and (max-width: 960px) {
  .apercu {
    margin-bottom: 10%; } }
.partenaires {
  width: 100%;
  margin: 3% 0 0;
  display: flex;
  float: left;
  justify-content: space-around; }
  .partenaires figure {
    width: 30%; }
    .partenaires figure img {
      width: 100%; }
  @media screen and (max-width: 960px) {
    .partenaires figure {
      width: 70%;
      margin: 5% auto; } }
  .partenaires .hallou {
    width: 10%; }
  @media screen and (max-width: 960px) {
    .partenaires .hallou {
      width: 25%;
      margin: 5% auto; } }

@media screen and (max-width: 960px) {
  .partenaires {
    display: initial;
    float: none; } }
section .actu-title {
  width: 100%;
  text-align: center; }
  section .actu-title h2 {
    font-size: 120%;
    font-weight: 700; }
  section .actu-title h3 {
    font-size: 110%; }
section .text-actu {
  float: left; }
  section .text-actu figure {
    width: 25%;
    float: left; }
    section .text-actu figure img {
      width: 100%; }
  section .text-actu article .line1 {
    width: 100%;
    float: left;
    font-weight: 300;
    text-align: justify; }
  @media only screen and (max-width: 768px) {
    section .text-actu .text-actu {
      float: none; }
      section .text-actu .text-actu figure {
        width: 90%;
        float: none; }
      section .text-actu .text-actu article .line1 {
        float: none; } }
@media only screen and (max-width: 768px) and (max-width: 468px) {
  section .text-actu .text-actu {
    float: none; }
    section .text-actu .text-actu figure {
      width: 100%;
      float: none; } }

header.header-admin {
  background-color: #000;
  width: 100%;
  position: static; }
  header.header-admin div img {
    width: 20%;
    float: left; }
  header.header-admin div a {
    color: #fff;
    font-size: 15px;
    text-decoration: underline;
    float: right;
    padding: 2% 2% 0 0; }

section.admin {
  position: static;
  width: 100%;
  text-align: center;
  font-size: 16px; }
  section.admin h2 {
    font-size: 24px;
    text-align: center;
    padding: 5px; }
  section.admin h3 {
    font-size: 20px;
    text-align: center;
    padding: 5px; }
  section.admin nav.admin-nav ul {
    width: 100%;
    text-align: center; }
    section.admin nav.admin-nav ul li {
      display: inline-block;
      margin: 1%;
      font-size: 20px; }
      section.admin nav.admin-nav ul li a {
        background: #34B8C9;
        border-radius: 10px;
        padding: 10px 25px; }
  section.admin a.add-btn {
    background: #000;
    border-radius: 10px;
    padding: 10px 25px;
    color: #fff;
    display: inline-block;
    margin: 2%; }
  section.admin table.revues-list {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 2%; }
    section.admin table.revues-list a {
      display: inline;
      padding: 0 2%; }
      section.admin table.revues-list a:hover {
        text-decoration: underline; }
    section.admin table.revues-list thead {
      background: #333;
      color: #fff;
      font-weight: bold; }
      section.admin table.revues-list thead td {
        padding: 1%; }
    section.admin table.revues-list tbody tr, section.admin table.revues-list tbody td {
      padding: 2%;
      border-bottom: 1px solid #ddd; }
    section.admin table.revues-list.part {
      width: 95%; }
  section.admin div.admin-form {
    width: 30%;
    margin: 0 auto; }
    section.admin div.admin-form form p {
      width: 100%;
      margin: 2%;
      display: flex;
      justify-content: space-between; }
    section.admin div.admin-form.actus {
      width: 50%; }
      section.admin div.admin-form.actus input[type=text], section.admin div.admin-form.actus textarea {
        width: 75%; }

.steps {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%; }
  .steps div {
    text-align: center; }
    .steps div h3 {
      font-family: "Lato", "helvetica", sans-serif;
      float: left;
      font-size: 2rem; }
    @media screen and (max-width: 480px) {
      .steps div h3 {
        font-size: 1.8rem;
        font-weight: 300; } }
    .steps div p {
      font-family: "Lato", "helvetica", sans-serif;
      font-size: 1.4rem;
      font-weight: 300; }
    @media screen and (max-width: 480px) {
      .steps div p {
        font-size: 1.2rem;
        font-weight: 300; } }
  .steps .active {
    color: #34B8C9; }

.form {
  width: 60%;
  padding: 4%;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22); }
  .form label {
    font-size: 1.5rem; }
    .form label .asterix {
      float: right;
      color: #35AEBD; }
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"], .form textarea, .form select {
    outline: none;
    display: block;
    width: 100%;
    padding: 2%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 3%;
    font-size: 1.5rem;
    height: 12%; }
  @media screen and (max-width: 480px) {
    .form input[type="text"],
    .form input[type="email"],
    .form input[type="tel"], .form textarea, .form select {
      font-size: 1.5rem; } }
  .form p {
    color: #35AEBD;
    font-size: 1.8rem; }

@media screen and (max-width: 480px) {
  .form {
    width: 90%;
    margin: 8% auto;
    font-size: 1.4rem; } }
.button-commander-form {
  width: 150px;
  display: inline-block;
  border-radius: 4px;
  background-color: #34B8C9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.6rem;
  padding: 1%;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
  margin: 2% 20%; }
  .button-commander-form span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    .button-commander-form span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s; }
  .button-commander-form:hover span {
    padding-right: 25px; }
  .button-commander-form:hover span:after {
    opacity: 1;
    right: 0; }

@media screen and (max-width: 480px) {
  .button-commander {
    font-size: 1.6rem;
    width: 50%;
    height: 40px;
    float: none;
    margin: 2% 25%; } }
.panier {
  width: 60%;
  float: left;
  margin: 1% 0 0 20%;
  border-bottom: 1px solid black; }
  .panier figure {
    float: left;
    width: 20%;
    margin-bottom: 2%; }
    .panier figure img {
      width: 100%; }
  @media screen and (max-width: 480px) {
    .panier figure {
      float: none;
      margin: 0 auto 2%;
      width: 60%; } }
  .panier h2 {
    float: left;
    font-family: "Merriweather", "times", serif;
    font-size: 2rem;
    margin: 2% 0 0 18%;
    width: 57%; }
  @media screen and (max-width: 480px) {
    .panier h2 {
      float: none;
      font-size: 1.4rem;
      text-align: center; } }
  .panier label {
    font-size: 1.6rem;
    font-family: "Merriweather", "times", serif;
    margin-left: 25%; }
  @media screen and (max-width: 480px) {
    .panier label {
      font-size: 1.3rem;
      margin-left: 0; } }
  .panier select {
    margin: 7%; }
  @media screen and (max-width: 480px) {
    .panier select {
      margin: 5%;
      width: 15%; } }
  .panier .price {
    text-align: center;
    font-size: 1.6rem;
    font-family: "Lato", "helvetica", sans-serif;
    float: right;
    width: 20%;
    border: 1px solid #34B8C9;
    padding: 1%; }
  @media screen and (max-width: 480px) {
    .panier .price {
      text-align: center;
      font-size: 1.2rem;
      width: 40%;
      margin-top: 3%; } }

@media screen and (max-width: 480px) {
  .panier {
    padding-bottom: 3%; } }
.tab {
  width: 100%;
  margin-top: 5%;
  padding-left: 20%;
  float: left;
  font-family: "Lato", "helvetica", sans-serif;
  font-size: 1.8rem;
  text-decoration: underline; }
  .tab a {
    color: #000; }

@media screen and (max-width: 480px) {
  .tab {
    width: 100%;
    float: left;
    font-size: 1.4rem;
    margin: 7% 0 0 10%; } }
/**********BOUTTON**********/
.button-commander {
  display: inline-block;
  border-radius: 4px;
  background-color: #34B8C9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.6rem;
  padding: 1%;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
  margin: 0 20% 3% 0; }
  .button-commander span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    .button-commander span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s; }
  .button-commander:hover span {
    padding-right: 25px; }
  .button-commander:hover span:after {
    opacity: 1;
    right: 0; }

@media screen and (max-width: 480px) {
  .button-commander {
    font-size: 1.6rem;
    width: 50%;
    height: 40px;
    float: none;
    margin: 10% 25%; } }

/*# sourceMappingURL=screen.css.map */
