<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../asset/styles/scss/screen.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:300,400" rel="stylesheet">
</head>
<body>
<main>
    <header class="header-admin clearfix">
        <div>
            <img src="../asset/img-layout/architecture-logo.png" alt="logo l'architecture">
            <a href="/">Revenir au site</a>
        </div>
    </header>
    <section class="admin">
    <h2>Administration</h2>

    <nav class="admin-nav">
        <ul>
            <li><a href="/admin">Revues</a></li>
            <li><a href="/admin/actus">Actualités</a></li>
            <li><a href="/admin/partenaires">Partenaires</a></li>
        </ul>
    </nav>

{% block body %}{% endblock %}
    </section>
</main>
</body>
</html>