<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../asset/styles/scss/screen.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&#124;Merriweather:300,400" rel="stylesheet">
    <link rel="icon" href="../asset/img-layout/Favicon.ico" />
</head>
<body>

    <header>
        <div class="nav-up clearfix">
            <a href="/"><img src="../asset/img-layout/architecture-logo.png" alt="logo l'architecture"></a>
            <img src="../asset/img-layout/burger.svg" class="burger" alt="burger l'architecture">
            <a href="/abonnement" class="abonnez"><span>Abonnez-vous</span></a>
            <a href="/comander?id=16" class="commande"><span>Commander le dernier numéro</span></a>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/revues">Nos Revues</a></li>
                <li><a href="/quisommesnous">Qui sommes-nous ?</a></li>
                <li><a href="/offre">Appel d'offre</a></li>
                <li><a href="/actus">Actualités</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

<main>{% block body %}{% endblock %}</main>
{% block javascript %}
    <script type="text/javascript">
        //autotextarea
        function adjust_textarea(h) {
            h.style.height = "20px";
            h.style.height = (h.scrollHeight)+"px";
        }
    </script>
{% endblock %}

    <footer>
        <ul>
            <li><a href="#">Copyright</a></li>
            <li><a href="/mentions">Mentions Légale</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/admin">Modérations</a></li>
        </ul>

        <p>© <a href="http://www.larchitecture.com">L'architecture</a> - Semaine intensive HETIC 2017. All Rights Reserved.
            <br> Le présent site Web et l’ensemble de son contenu, y compris textes, images fixes ou animées, sont protégés par les droits
            d’auteurs.<br>Il s'agissait de proposer une refonte du site.
            <br><br>Wesley Aurore (intégrateur), Samantha CHERY (developpeur PHP), Steeve Niat (designer),
            <br>Fanny Pourtier (developpeur php) et Wissam Tamer-Agha (intégrateur)</p>
    </footer>
<script type="text/javascript" src="../asset/js/app.js"></script>
</body>
</html>